@font-face {
    font-family: title;
    src: url(title.ttf);
    font-weight: normal;
}
.nav-bar{
    display: flex;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    width: 100%;
    flex-direction:row;
    justify-content: flex-end;
}
.nav-bar a{
    color: rgb(223, 229, 245);
    float: right;
    text-align: center;
    text-decoration: none;
    padding: 30px 25px;
    font-family: monospace;
    font-size: 30px;
}
.nav-bar a:hover{
    background-color: rgb(178, 189, 238);
    color: rgb(14, 36, 107);
}
.active{
    background-color: rgb(37, 67, 202)
}
body{
    background-color: rgb(178, 194, 218);
}
.title-box{
    
    font-family: title;
    letter-spacing: 2px;
    font-size-adjust: 1.5;
    margin: 0px 0px;
    padding-left: 50px;
    padding-top: 70px;
    font-weight: 800;
}
.title-box p{
    margin: 0px;
    padding: 0px;
    line-height: 5;
}
.title{
    font-size-adjust: 2.5;
}
.text{
    margin-top: 1px;
    background-color: white;
    padding: 10px 80px;
    padding-bottom: 50px;
}
.text h3{
    font-family: title;
    letter-spacing: 1px;
    font-size-adjust: 1.6;
    justify-self: center;
}
.text p{
  font-size-adjust: 0.75;
  font-family: sans-serif;
}
.text h4{
    font-family: title;
    font-size-adjust: 1;
    letter-spacing: 1px;
    justify-self: center;
}
dt{
    display: list-item;
    margin-left:25px;
    font-family: sans-serif;
}
dd{
    display: list-item;
    list-style: circle;
    margin-left:50px;
    font-family: sans-serif;
}
.github{
    font-family: sans-serif;
    color: black;
    justify-items: center;
    align-items: center;
    font-family: sans-serif;
    letter-spacing: normal;
    font-size-adjust: 0.8;
    margin-left: 10px;
}
.website{
    font-family: sans-serif;
    color: black;
    justify-items: center;
    align-items: center;
    font-family: sans-serif;
    letter-spacing: normal;
    font-size-adjust: 0.8;
}
.git-logo{
   vertical-align: middle;
   margin-left: 5px;
}
hr{
    margin-left: -65px;
    margin-right: -65px;
}

